.debug {
  background-color: rgba(95, 158, 160, .5);
  border:1px solid black;
}

.dbg-xl {
  background-color: rgba(95, 158, 160, .4);
  border:1px solid black;
  min-height: 500px;
}

header {
  height: 70px;
}

header nav {
  height: 100%;
}

header nav .row{
  height: 100%;
}

.rb-card {
  height: 250px;
}


.w-60-container {
  width: 60%;
  margin: 0 auto;
}