/* GENERAL */
 body {
  font-family: 'Roboto', sans-serif;
}

section h2 {
  font-weight: bold;
  padding-top: 20px;
}
/* debug */
.debug {
  background-color: rgba(95, 158, 160, .5);
  border:1px solid black;
}

.dbg-xl {
  background-color: rgba(95, 158, 160, .4);
  border:1px solid black;
  min-height: 500px;
}
/* /debug */

.w-60-container {
  width: 60%;
  margin: 0 auto;
}

.divisor {
  padding-top: 30px;
  padding-bottom: 30px ;
}
.dividing-line {
  width: 10%;
  background-color: rgb(43, 61, 79);
  border-radius: 10px;
  height: 10px;
  margin: 0 20px;
}

.dividing-line.white {
  background-color: white;

}

.divisor .star {
  color:rgb(43, 61, 79) ;
  transform: scale(2);
}

.divisor .star.white {
  color:white ;
}

/* /GENERAL */

/* HEADER */
header {
  background-color:rgb(44, 62, 80) ;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 999;
}

header nav {
  height: 100%;
}

header nav .row{
  height: 100%;
}

header nav span {
  cursor: pointer;
  color: white;
  font-weight: bold;
}

header nav span a {
  text-decoration: none;
  color: white;
}

header nav span a:hover {
  color:rgb(26, 188, 156) ;
}


.burger-menu {
  width: 100%;
  color: grey;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px;

}

.burger-menu i {
  font-size: 2rem;
  
}

header span {
  padding-right: 30px;
}

/* /HEADER */


/* JUMBOTRON */
#jumbotron {
  background-color: rgb(26, 188, 156);
  margin-bottom: 30px;
}

.jumbo-img img {
  padding-top: 30px;
  height: 400px;
}

#jumbotron h1 {
  color: white;
  padding-top: 10px;
  font-weight: bold;
}

#jumbotron p {
  font-size: 25px;
  color: white;
  padding-top: 10px;
  font-weight: bold;
}

/* /JUMBOTRON */


/* PORTFOLIO */
#portfolio {
  padding-bottom: 30px;
}


#portfolio h2 {
  color:rgb(49, 49, 49);

}
.rb-card {
  position: relative;
  width: 100%;
}
.rb-card img {
  width: 100%;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgb(30, 135, 113);
}


.rb-card i {
  display: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: 1px solid;
  border-radius: 50%;
}

.rb-card:hover .overlay {
  opacity: 0.8;
  border-radius: 10px;
  
}

.rb-card:hover i {
  display: block;
  font-size: 2rem;
}

/* /PORTFOLIO */


/* ABOUT */
#about {
  background-color:rgb(26, 188, 156);
  padding-bottom: 30px;
}

#about h2 {
  color: white;
}

#about p {
  color: white;
  padding-top: 30px;
}

#about #download-btn {
  padding-top: 30px;
}

.download-btn {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 8px;
}

.download-btn:hover {
  background-color: white;
  color:rgb(44, 62, 80);
  border: none;
  margin: 0;
}
/* /ABOUT */


/* CONTACT ME */

#contact-me {
  padding-bottom: 30px;
}
/* form */
.no_border {
  border: 0;
  border-bottom: 1px solid grey;
  border-radius: 0;
  box-shadow: none;
}

.rb-submit-btn {
  background-color:rgb(26, 188, 156) ;
  border: none;
}

.rb-submit-btn:hover {
  background-color:rgb(29, 131, 107) ;
  border: none;
}

.rb-submit-btn:focus {
  background-color:rgb(29, 131, 107) ;
  border: none;

}
/* form */
/* /CONTACT ME */


/* FOOTER */
#footer {
  background-color: rgb(58, 84, 109);
}
.rb-info {
  padding-top:30px
}
footer p {
  color: white;
  margin-top: 10px;
  padding-top: 5px;
}
footer span {
  color: rgb(27, 185, 155);
}

footer .icons {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

footer span i {
  color: white;
}

.footer-credits {
  background-color: rgb(44, 62, 80);
}
.footer-credits p {
  height: 100%;
  line-height: 75px;
}

/* /FOOTER */