/* GENERAL */
  body {
    font-family: 'Roboto', sans-serif;
  }

.debug {
  background-color: rgba(95, 158, 160, .5);
  border:1px solid black;
}

.dbg-xl {
  background-color: rgba(95, 158, 160, .4);
  border:1px solid black;
  min-height: 500px;
}


.w-60-container {
  width: 60%;
  margin: 0 auto;
}

/* /GENERAL */

/* HEADER */
header {
  background-color:rgb(44, 62, 80) ;
  height: 70px;
  position: sticky;
  top: 0;
}

header nav {
  height: 100%;
}

header nav .row{
  height: 100%;
}

header nav span {
  color: white;
  font-weight: bold;
}




.burger-menu {
  width: 100%;
  color: grey;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px;

}

.burger-menu i {
  font-size: 2rem;
  
}

/* /HEADER */


/* JUMBOTRON */
#jumbotron {
  background-color: rgb(26, 188, 156);
  margin-bottom: 30px;
}

.jumbo-img img {
  padding-top: 30px;
  height: 400px;
}

#jumbotron h1 {
  color: white;
  padding-top: 10px;
  font-weight: bold;
}

#jumbotron p {
  color: white;
  padding-top: 10px;
  font-weight: bold;
}

/* /JUMBOTRON */


/* PORTFOLIO */
#portfolio {
  padding-bottom: 30px;
}

#portfolio h2 {
  color:rgb(49, 49, 49);
  padding-bottom: 20px;
  font-weight: bold;

}
.rb-card {
  width: 100%;
}
.rb-card img {
  width: 100%;
  border-radius: 10px;

}
/* /PORTFOLIO */



/* ABOUT */
#about {
  background-color:rgb(26, 188, 156);
  padding-bottom: 30px;
}

#about h2 {
  color: white;
  font-weight: bold;
  padding-top: 30px;
}

#about p {
  color: white;
  padding-top: 30px;
}

#about #download-btn {
  padding-top: 30px;
}

.download-btn {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 8px;
}

.download-btn:hover {
  background-color: white;
  color:rgb(44, 62, 80);
  border: none;
  margin: 0;
}
/* /ABOUT */